*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utility */

.flex{
    display: flex;
    align-items: center;
}

.justify-space-btw{
    justify-content: space-between;
}

.margin-15-0{
    margin: 15px 0;
}

/* HEADER SECTION */

header{
    background-color: #0084FE;
    color: white;
}

.header{
    width: 90%;
    margin: auto;
    padding: 10px 0 ;
}

.header > div > img{
    flex-basis: 60%;
    width: 80%;
}

.header > div > i{
    flex-basis: 30%;
}

/* DEMO SECTION */

.demo-container{
    width: 80%;
    margin: 30px auto;
}

.demo-container > div{
    background-color: #B5DDFF;
    padding: 20px;
    border-radius: 20px;
    margin: 20px 0;
}

.demo-container > div > h1, .demo-container > div > i{
    color: #0084FE;
}

.demo-container > div > i{
    font-size: 80px;
}

.txt-align-center{
    text-align: center;
}

#demo > .demo-container > div > img{
    width: 100%;
}

.blue-btn > button{
    padding: 10px;
    background: #0084FE;
    color: white;
    border-radius: 20px;
    border: none;
    font: small-caps bold 16px  Georgia, serif;
}

.blue-btn{
    margin: 20px auto;
    width: 60%;
    text-align: center;
}

/* Planning Section */

#planning{
    background-color: #9792E4;
    color: white;
    padding: 20px 0;
}

.planning-container{
    width: 80%;
    margin: 20px auto;
}

.planning-container > div > img{
    width: 100%;
    padding: 30px 0;
}

.app-dev{
    background: white;
    color: black;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
    margin-top: 40px;
}

.app-dev > p{
    font-style: italic;
}

.app-dev > button{
    background-color: #9792E4;
    border-radius: 20px;
    border: none;
    padding: 10px;
}

/* Testimonials section */

.testimonials-container{
    width: 80%;
    margin: 20px auto;
    padding: 10px 0;
    text-align: center;
}

.testimonials-container > div > h1{
    color: #9792E4;
}

.bg-lille{
    background-color: #9792E4;
    color: white;
    padding: 20px;
    border-radius: 30px;
    margin: 20px 0;
}

.photo-frame{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.photo-1 {
    background-image: url("../img/testimonial1.jpg");
}

.photo-2 {
    background-image: url("../img/testimonial2.jpg");
}

.photo-3 {
    background-image: url("../img/testimonial3.jpg");
}

/* Benefit Section */

#benefit-section{
    background-color: #9792E4;
    color: white;
    text-align: center;
}

.benefit-container{
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}

.benefit-container > div{
    background-color: white;
    color: #9792E4;
    text-align: left;
    border-radius: 20px;
    padding: 1.5rem;
}

.benefit-container > h1{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.benefit-container > div > h1{
    font-size: 3rem;
}

.benefit-container > div > p{
    color: grey;
    line-height: 1.5rem;
}

.benefit-container > div > button{
    padding: 0.8rem 2rem;
    background-color: #9792E4;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

/* About us section */
.about-us-container{
    width: 80%;
    margin: 2rem auto;
}

.txt-cont > h1 {
    color: #9792E4;
    font-size: 3rem;
    padding: 2rem 0;
}

.txt-cont{
    line-height: 2rem;
}

.img-cont{
    color: #9792E4;
}

#reference{
    background-image: url("../img/about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
}

#reference > i{
    position: absolute;
    right: 10px;
    font-size: 3rem;
}

.img-cont > button{
    background-color: #9792E4;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
}


/* Get started section */
#get-started{
    background-color: #9792E4;
    color: white;
}

.get-started-container{
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;
    text-align: center;
}

.get-started-container > h3{
    color: lightgrey;
    letter-spacing: 0.2rem;
    padding: 1rem 0;
}

.get-started-container > h2{
    font-size: 1.5rem;
    padding: 1rem 0;
}

.get-started-container > h1{
    padding: 2rem 0;
    font-size: 3rem;
    color: #FDC05F;
}

.get-started-container > p{
    line-height: 1.5rem;
    padding: 1rem 0;
}

.get-started-container > button{
    border: none;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    letter-spacing: 0.2rem;
    background-color: white;
    color: #9792E4;
}

.get-started-container > div{
    padding: 1rem 0;
}

.get-started-container > div > a{
    color: white;
}

.get-started-container > div > i{
    font-size: 0.3rem;
    vertical-align: middle;
}

/* Footer section */
footer{
    background-color: #333333;
    color: white;
    text-align: center;
}

.footer-container{
    width: 80%;
    margin: 0 auto;
}

.footer-container > p,
.footer-container > div{
    padding: 2rem 0;
}

.footer-container > div > a{
    color: #9792E4;
}



/* @media screen and (min-width: 480px) and (max-width: 768px) {
    
    .flex-row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .f-basis-big{
        flex-basis: 65%;
    }

    .f-basis{
        flex-basis: 30%;
    }
} */